﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Power BI - Embed Sample</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Scripts/bootstrap_4.6/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Scripts/bootstrap_4.6/css/bootstrap.css" type="text/css" />
    <style type="text/javaScript" src="@Url.Content("~/Scripts/jquery_3.6.0/jquery-3.6.0.min.js")"></style>
    <style type="text/javaScript" src="@Url.Content("~/Scripts/bootstrap_4.6/js/bootstrap.js")"></style>
    <style type="text/javaScript" src="@Url.Content("~/Scripts/bootstrap_4.6/js/bootstrap.min.js")"></style>
    <script type="text/javaScript" src="@Url.Content("~/Scripts/Menu/Menu.js")"></script>

    <link rel="stylesheet" href="~/Content/style/menu/menu.css" type="text/css" />

    <link rel="stylesheet" type="text/css" href="~/Content/style/style.css">

</head>
<body class="fondo">
    <div class="">

    </div>
    @RenderBody()
</body>
</html>
