﻿.fondo {
    background-color:white;
}

/*custom font for text*/
@import url(http://fonts.googleapis.com/css?family=Nunito);
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

/*Basic reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #4EB889;
    font-family: Nunito, arial, verdana;
}

.login button {
    width: 50%;
    border-radius: 15px;
}

.avatar {
    width: 250px;
    height: 140px;
    border-radius: 0%;
    text-align: center;
    border: 1px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
    background-color:#FFF;
   
}
   
.avatarImg {
    width: 250px;
    height: 110px;
    border-radius: 0%;
    margin-top:10px;   
}


#menuAccordian {
    background: #004050;
    width: 250px;
    margin: 0px;
    color: white;
    /*Some cool shadow and glow effect*/
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
}
    /*heading styles*/
    #menuAccordian h3 {
        font-size: 15px;
        line-height: 34px;
        padding: 0 10px;
        cursor: pointer;
        /*fallback for browsers not supporting gradients*/
        background: #003040;
        background: linear-gradient(#003040, #002535);
    }
        /*heading hover effect*/
        #menuAccordian h3:hover {
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
        }
        /*iconfont styles*/
        #menuAccordian h3 span {
            font-size: 16px;
            margin-right: 10px;
        }
    /*list items*/
    #menuAccordian li {
        list-style-type: none;
    }
    /*links*/
    #menuAccordian ul ul li a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        line-height: 27px;
        display: block;
        padding: 0 15px;
        /*transition for smooth hover animation*/
        transition: all 0.15s;
    }
        /*hover effect on links*/
        #menuAccordian ul ul li a:hover {
            background: #003545;
            border-left: 5px solid lightgreen;
        }
    /*Lets hide the non active LIs by default*/
    #menuAccordian ul ul {
        display: none;
    }

    #menuAccordian li.active ul {
        display: block;
    }



