﻿@model PowerBIEmbedded_AppOwnsData.Models.IndexConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav navbar bg-light">
    
</div>

<div class="row">
    <div class="col-md-4">
        <div class="avatar">
            <img class="avatarImg" src="~/Content/icons/person-circle.svg" />
        </div>
        <div id="menuAccordian">
            <ul>
                <li class="active">
                    <h3><span class="icon-dashboard"></span>Abastecimiento</h3>
                    <ul>
                        <li><a id="btnEmbedReport" >Almacen Principal</a></li>
                        <li><a href="#">Almacen 2</a></li>
                        <li><a href="#">Almacen 3</a></li>
                        <li><a href="#">Almacen 4</a></li>
                    </ul>
                </li>
                <!-- we will keep this LI open by default -->
                <li>
                    <h3><span class="icon-tasks"></span>Tasks</h3>
                    <ul>
                        <li><a href="#">Today's tasks</a></li>
                        <li><a href="#">Urgent</a></li>
                        <li><a href="#">Overdues</a></li>
                        <li><a href="#">Recurring</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li>
                    <h3><span class="icon-calendar"></span>Calendar</h3>
                    <ul>
                        <li><a href="#">Current Month</a></li>
                        <li><a href="#">Current Week</a></li>
                        <li><a href="#">Previous Month</a></li>
                        <li><a href="#">Previous Week</a></li>
                        <li><a href="#">Next Month</a></li>
                        <li><a href="#">Next Week</a></li>
                        <li><a href="#">Team Calendar</a></li>
                        <li><a href="#">Private Calendar</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li>
                    <h3><span class="icon-heart"></span>Favourites</h3>
                    <ul>
                        <li><a href="#">Global favs</a></li>
                        <li><a href="#">My favs</a></li>
                        <li><a href="#">Team favs</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <div id="embeddeReport">

        </div>
        <div id="buttonsWrapper">

            Select an entity to embed.<br /><br />

            <a id="btnEmbedReport" href="~/Home/EmbedReport">Embed Report</a>
            <br />

            <a id="btnEmbedDashboard" href="~/Home/EmbedDashboard">Embed Dashboard</a>
            <br />

            <a id="btnEmbedTile" href="~/Home/EmbedTile">Embed Tile</a>
            <br />

            <div class="infoBox">
                <b>Nuget packages which used in this solution</b><br />
                Microsoft.PowerBI.API Version @Model.DotNETSDK<br />
                Microsoft.PowerBI.JavaScript Version 2.6.6<br />
            </div>
        </div>
    </div>
</div>
